@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

button {
  height: 42px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

input,
select {
  height: 45px !important;
  width: 100% !important;
  padding-left: 10px !important;
  border: 1px solid #c8c8c8 !important;
}

input:focus,
select:focus {
  outline: none !important;
  border: 1px solid #333333 !important;
  box-shadow: none !important;
}

a {
  color: black !important;
}

i {
  font-size: 20px !important;
  cursor: pointer;
}

table {
  border: 1px solid #a9a9a9 !important;
  margin-top: 20px;
}

img {
  border-radius: 4px !important;
}
